@keyframes balloonPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes balloonExplosion {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2) rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) rotate(720deg);
  }
}

.balloon-explosion {
  animation: balloonExplosion 0.3s forwards;
  pointer-events: none; /* Evitar que se pueda hacer clic durante la animación */
}
